In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
with open('best_tree.pkl', 'rb') as file_model:
  model = pickle.load(file_model)

In [3]:
data_inf = {
'limit_balance' : 130000, 
'sex' : 1, 
'education_level': 1, 
'marital_status': 1, 
'age' : 45,
'pay_0' : 0, 
'pay_2' : 0, 
'pay_3' : 0, 
'pay_4' : 0, 
'pay_5' : 0, 
'pay_6' : 0, 
'bill_amt_1' : 58180,
'bill_amt_2' : 59134, 
'bill_amt_3' : 61156, 
'bill_amt_4' : 62377, 
'bill_amt_5' : 63832, 
'bill_amt_6' : 65099,
'pay_amt_1' : 2886, 
'pay_amt_2' : 2908, 
'pay_amt_3' : 2129, 
'pay_amt_4' : 2354, 
'pay_amt_5' : 2366,
'pay_amt_6' : 2291, 
}

data_inf = pd.DataFrame([data_inf])
data_inf

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,130000,1,1,1,45,0,0,0,0,0,...,61156,62377,63832,65099,2886,2908,2129,2354,2366,2291

In [4]:
pred = model.predict(data_inf)
print('Hasil Prediksi : ', pred)

Hasil Prediksi :  [0]